<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @docente.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @docente.apellido %>
</p>

<p>
  <strong>Ci:</strong>
  <%= @docente.ci %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @docente.ciudad %>
</p>

<%= link_to 'Edit', edit_docente_path(@docente) %> |
<%= link_to 'Eliminar', @docente, method: :delete %> |
<%= link_to 'Back', docentes_path %>
